*.cs linguist-detectable=false     # C# files
*.java linguist-detectable=false   # Java files
*.js linguist-detectable=false     # JavaScript files
*.html linguist-detectable=false   # HTML files
*.cpp linguist-detectable=false    # C++ files
*.dart linguist-detectable=true    # Dart files
